* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Helvetica;
}

 span {
    background-color: #E16666;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-right: 20px;
}

button {
    color: #92C57C;
    height: 20px;
}

 #text {
    color: #FFA93A;
    margin-right: 25px;
}

#skills {
    background-color: #92C47D;
    color: white;
    height: 30px;
    padding: 6px 60px 6px 60px;
}

 #empty-box, #add {
    border: 2px solid #92C57C;
    height: 30px;
} 

#empty-box {
    margin-right: 15px;
    width: 200px;
}

span, #text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

#skills, #text {
    font-weight: 500;
} 